{% extends 'a/layout.html' %}
{% load static %}
{% block content %}

<head>
    <title>Nothing-contact</title>
    <div style="margin-bottom:6%;"></div>
    <h1>Contact</h1>
    <div style="margin-bottom:4%;"></div>

</head>
<style>
    h4 {
    margin-left:45.4%;
    color: white;
    font-family: Times New Roman;
    }
    h5 {
    font-family: Times New Roman;
    color: white;
    font-family: ;
    margin-left: 45.9%;
    }
</style>
<body>
    <div style="margin-bottom:4%;"></div>
    <h4>Shredding Coders:</h4>
    <p style="margin-left:46.4%;">Lemeshkin Ivan</p>
    <h5>notreal@gmail.com</h5>
    <div style="margin-bottom:10%;"></div>
</body>

{% endblock %}