{% extends 'Home_page/layout.html' %}
{% load static %}
{% block content %}
<head>
    <title>nothing</title>

</head>

<style>
    .body_photo img {
      position:relative;
      left:15%;
        width:72%;
        height: 90%;
        margin-top:-6.7%;
        }
    .about {
        margin-top:4%;
        }
</style>

<header>
    <div align="center" class="navigation">
        <form action="" target="_self">
            <button>NOTHING </button>
        </form>
         <form action="send/" target="_self">
            <button>CATALOG</button>
         </form>
         <form action="https://merchpoint.ru/" target="_self">
            <button>MERCH</button>
         </form>
        <form action="contact/" target="_self">
            <button>CONTACT</button>
        </form>
    </div>
</header>

<body>
    <div class="body_photo">
     <img src="{% static 'main/img/shop.jpg' %}" class="photo"/>
    </div>
    <div class="about">
        <h3>Who we are, you know?</h3>
        <p>This site is my first practical project in html and python. I took refs from polyphia.com and from somewhere else.</p>
        <p>I have to write something in this paragraph so that the text takes up about three lines, otherwise it will seem that this part is somehow empty and unfinished.</p>
        <p>Blah-blah-bLa3H...(completed)</p>
    </div>
</body>
{% endblock %}

